#cargarDocumentos{
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	overflow: hidden;
	padding-bottom: 40px;
	.container-fluid{
		padding: 0;
		.description{
			border-bottom: 1px solid #e6e6e6;
			h4{
				border-bottom: 1px solid #e6e6e6;
				font-family: 'montserratsemibold';
				font-size:16px;
				line-height: 1;
				margin: 0;
				padding: 20px;
			}
			.text{
				padding:10px 20px;
				p{
					margin: 0;
					line-height: 1.5;
					font-size: 13px;
				}
			}
		}
		.form-fields{
			border-bottom: 1px solid #e6e6e6;
			padding: 20px;
		}
		.cargadocumento{
			background-color: #f2f2f2;
			margin: 20px;
			.text-left{
				background-color: #e6e6e6;
				padding-bottom: 30px;
				padding-top: 30px;
				span{

				}
				label{
					display: block;
					font-family: 'montserratbold';
					font-size: 16px;
					line-height: 1.2;
					margin: 0;
				}
			}
			.text-right{
				display: flex;
				align-items: center;
				.form-fields-load{
					display: flex;
					justify-content: space-between;
					width: 100%;
					label{
						align-items: center;
						display: flex;
						margin: 0;
					}
					.upload-file{
						background-color: $blue;
						border-color: $blue;
						&:hover{
							background-color: $blue !important;
							opacity:0.9;
						}
					}
				}
			}
		}
		.btn-right{
			text-align: right;
			button {
				margin-right: 36px;
				background-color: $blue;
				border-color: $blue;
				&:hover{
					background-color: $blue !important;
					opacity:0.9;
				}
			}
		}
	}
}