.table-responsive {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 20px 20px 4px;
  h3 {
    border-bottom: 1px solid #e6e6e6;
    font-family: "montserratsemibold";
    font-size: 14px;
    margin: 0;
    line-height: 1;
    padding-bottom: 16px;
    span {
      font-family: "montserratlight";
    }
  }
  table {
    margin: 0;
    tr {
      th,
      td {
        border-bottom: 1px solid #e6e6e6;
        border-top: none;
        color: #4d4d4d;
        font-family: "montserratmedium";
        font-size: 14px;
        line-height: 1;
        padding: 16px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
      td {
        font-family: "montserratlight";
      }
    }
  }
  .paginated {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    .pagination {
      border: 1px solid #e6e6e6;
      li {
        border-right: 1px solid #e6e6e6;
        a,
        span {
          color: #4d4d4d;
          display: block;
          font-size: 14px;
          line-height: 1;
          padding: 14px 14px;
        }
        span {
          background-color: $blue;
          color: #fff;
        }
        &:last-child {
          border-right: none;
        }
        &.next {
          a {
            background-color: $blue;
            color: #fff;
          }
        }
      }
    }
  }
}
.blue {
  .table-responsive {
    .paginated {
      .pagination {
        li {
          span {
            background-color: $blue;
          }
          &.next {
            a {
              background-color: $blue;
            }
          }
        }
      }
    }
  }
}
.green {
  .table-responsive {
    .paginated {
      .pagination {
        li {
          span {
            background-color: $green;
          }
          &.next {
            a {
              background-color: $green;
            }
          }
        }
      }
    }
  }
}
