#comercializadora-procesoLogistico{
	.table-responsive{
		padding: 0;
		position: relative;
		.dropdown{
			border-color: black;
			border-style: solid;
			border-width: 2px 2px 0 0;
			cursor: pointer;
			display: block;
			height: 16px;
			position: absolute;
			right: 30px;
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
			top: 25px;
			width: 16px;
		}
		.header{
			background-color: #F9F9F9;
			padding: 20px;
			h3{
				border: none;
				padding: 0;
				a{
					color: #006736;
					font-family: 'montserratlight';
					text-decoration: underline;
					&:hover{
						text-decoration:none;
					}
				}
			}
			&.border-top{
				border-top: 1px solid #E6E6E6;
			}
		}
		table{
			tr{ 
				th, td{
					border: 1px solid #E6E6E6;
					padding: 16px;
					&:first-child,{
						border-left:none;
					}
					&:last-child,{
						border-right: none;
					}
				}
				&:last-child{
					td{
						border-bottom:none;
					}
				}
			}
		}
		&.closed{
			.dropdown{
				-webkit-transform: rotate(135deg);
				-moz-transform: rotate(135deg);
				-o-transform: rotate(135deg);
				-ms-transform: rotate(135deg);
				transform: rotate(135deg);
				top: 15px;
			}
			.header,.table{
				display: none;
			}
			.first{
				display: block;
			}
		}
	}
}
.header-procesoLogistico{
	h4{
		label,span{
			color: #4d4d4d;
			font-size: 14px;
			margin-bottom: 0;
			margin-right: 5px;
		}
		span{
			font-family: 'montserratlight';
			margin-right: 0;
		}
	}
}