#agricola-rastreoPedido{ 
	.table-responsive{
		table{
			tr{
				&:last-child{
					td{
						border-bottom:none;
					}
				}
			}
		}
		&:first-child{
			background-color:$grey;
			margin-top: 0;
		}
		&:nth-child(2){
			table{
				tbody{
					tr{
						td{
							border: none;
							position: relative;
							&:first-child{
								padding-left:20px;
								&::before{
									background-color:white;
									content: "";
									position: absolute;
									left: 0;
									bottom: 0;
									top: 0;
									border: 1px solid #006736;
									width: 13px;
									height: 13px;
									margin: auto;
									border-radius: 50%;
								}
								&::after{
									content: "";
									position: absolute;
									left: 6px;
									top: 26px;
									border-right: 1px solid rgba(223, 223, 223, 0.5);
									width: 1px;
									height: 100%;
								}
							}
						}
						&:last-child{
							td{
								&:first-child{
									&::after{
										content: "";
										display:none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}