#agricola-solicitarPedido{
	.header{
		border: 1px solid #E6E6E6;
		border-radius: 5px;
		box-shadow: 0 6px 10px #f2f2f2;
		margin-bottom: 22px;
		padding: 20px;
		@include breakpoint($table){
			padding: 40px 22px;
		}
		.v-row{
			@include breakpoint($table){
				display: flex;
			}
			.col{
				padding: 0;
				margin-bottom: 10px;
				max-width: 320px;
				@include breakpoint($table){
					margin-bottom: 0;
					margin-right: 30px;
				}
				label{
					display: block;
					font-family: 'montserratmedium';
				}
				input,select{
					background-color: white;
					border: 1px solid #DFDFDF;
					border-radius: 4px;
					height: 40px;
					width: 100%;
					padding: 0px 10px;
					&[disabled="disabled"]{
						background-color: #F4F4F4;
					}
				}
			}
		}
	}
	.body{
		border: 1px solid #E6E6E6;
		border-radius: 5px;
		box-shadow: 0 6px 10px #f2f2f2;
		margin-bottom: 22px;
		padding: 30px 22px;
		.v-row{
			border-bottom: 1px solid #E6E6E6;			
			padding-bottom: 20px;
			padding-top: 20px;
			@include breakpoint($table){
				display: flex;
				justify-content: space-between;				
			}
			.col{
				padding: 0;
				width: 100%;
				@include breakpoint($table){
					display: flex;					
				}
				.form-field{
					label{
						display: block;
						font-family: 'montserratmedium';
						@include breakpoint($table){
							display: none;
						}
					}
					div.presentation{
						margin-top: 10px;
						text-align: center;
					}
				}
				.remove{
					display: flex;
					align-items: center;
					justify-content: center;
					color: #64B338;
					cursor: pointer;
					&:hover{
						text-decoration: underline;
					}
					&.disable{
						color: #ccc;
						cursor: default;
						&:hover{
							text-decoration: none;
						}
					}
				}
				&.left{
					max-width: 1000px;
					.form-field{
						margin-bottom: 10px;
						margin-right: 26px;
						max-width: 100px;
						width: 100%;
						@include breakpoint($table){
							margin-bottom: 0;
						}
						input,select{
							background-color: white;
							border: 1px solid #DFDFDF;
							border-radius: 4px;
							height: 40px;
							padding: 0px 10px;
							width:100%;
						}
						input[type="number"]{
							text-align: center;
						}
						&:first-child{
							max-width: 300px;
						}
					}
				}
				&.right{
					display: flex;	
					justify-content: space-between;
					margin-top: 20px;
					@include breakpoint($table){
						justify-content: flex-end;
						margin-top: 0;
						max-width: 300px;	
					}
					.form-field{
						@include breakpoint($table){
							margin-right: 50px;
							min-width: 102px;
							text-align: right;
						}
						label{
							margin-bottom: 12px;
						}
						&:last-child{
							margin-right:0;
						}
					}
				}
			}
			&:first-child{
				padding-top: 0;
				.col{
					.form-field{
						label{
							display: block;
						}
					}
					.remove{
						margin-top: 22px;
					}
				}
			}
			&:last-child{
				margin-bottom: 20px;
			}
		}
		.row-footer{
			@include breakpoint($table){
				display: flex;
				justify-content: space-between;				
			}
			.add{
				color: #64B338;
				cursor: pointer;
				margin-bottom: 20px;
				position: relative;
				padding-left: 40px;
				@include breakpoint($table){
					margin-bottom: 0;
				}
				span{
					border: 1px solid #64B338;
					height: 25px;
					left: 0;
					position: absolute;
					width: 25px;
					border-radius: 4px;	
					&::before{
						background-color: #64B338;
						bottom: 0;
						content:"";
						height: 15px;
						left: 0;
						margin: auto;
						right: 0;
						position: absolute;
						top: 0;
						width: 1px;
					}
					&::after{
						background-color: #64B338;
						bottom: 0;
						content:"";
						height: 1px;
						left: 0;
						margin: auto;
						right: 0;
						position: absolute;
						top: 0;
						width: 15px;
					}
				}
			}
			.totals{
				.subtotal,
				.total{
					display: flex;
					justify-content: space-between;
				}
				label{
					font-family: 'montserratsemibold';
					margin-right: 50px;
					text-align: right;
				}
				.subtotal{
					border-bottom: 1px solid #E6E6E6;
					margin-bottom: 8px;
				}
			}
		}
	}
	.calltoaction{
		text-align: right;
		input{
			background-color: #64B338;
			border:1px solid #64B338;;
			color: white;
			height: 46px;
			width: 100%;
			@include breakpoint($table){
				width: 250px;				
			}
		}
	}
}