#observaciones{
	display: none;
	.form-fields{
		.form-field{
			textarea{
				border:none;
			}
		}
	}
	.form-action{
		border-color: #E6E6E6;
		border-style: solid;
		border-width: 1px 0;
		text-align: right;
		padding: 16px 0;
		.submitform{
			background-color: $blue;
			color: white;
			border: navajowhite;
			font-family: 'montserratbold';
			padding: 5px 20px;
			border-radius: 2px;
		}
	}
	&.active{
		display: block;
	}
}
#rastreoContainers{
	.table-responsive{
		table{
			tr{
				&:last-child{
					td{
						border-bottom:none;
					}
				}
			}
		}
		&:first-child{
			background-color:$grey;
		}
	}
}