#existenciaMercancia{
	.table-responsive{
		padding: 0;
		.thead{
			background-color: $grey;
			border-bottom: 1px solid #E6E6E6;
			display: flex;
			padding: 20px;
			.v-c-row{
				line-height: 1;
				width: 20%;
				label,span{
					display: inline-block;
					font-family: 'montserratsemibold';
					font-size: 16px;
					line-height: 1;
					margin: 0 16px 0 0;
				}
				span{
					font-family: 'montserratlight';
					margin: 0;
				}
			}
		}
		.tbody{
			.v-c-rows{
				display: flex;
				flex-flow: row wrap;
				padding: 30px 20px 0; 
				.v-c-row{
					display: flex;
					flex-flow: wrap row;
					margin-bottom: 40px;
					width: 20%;
					label,span{
						display: block;
						font-family: 'montserratmedium';
						font-size: 14px;
						line-height: 1;
						margin: 0 0 20px 0;
						width: 100%
					}
					span{
						font-family: 'montserratlight';
						margin: 0;
					}
				}
			}
		}
	}
}