.header-rastreoList,
.header-rastreoContainers{
	.open-search,
	.open-observ {
		text-align: right;
		span{
			background-repeat: no-repeat;
			background-position: center right;
			color: $blue;
			cursor: pointer;
			display: inline-block;
			padding: 2px 42px 2px 0;
		}
	}	
	.open-search{
		span{
			background-image: url("../img/v-c-ico-search.png");			
		}
	}
	.open-observ {
		span{
			background-image: url("../img/v-c-observaciones.png");	
		}
	}
}

/* mensajes de error */
.message{
	align-items: center;
	border-radius: 5px;
	color: white;
	display: flex;
	justify-content: center;
	line-height: 1;
	margin-bottom: 20px;
	padding:26px;
	text-align: center;
	span{
		display: inline-block;
		position: absolute;
		&::before{
			background-repeat: no-repeat;
			background-position: 0 0;
			bottom: 0;
			content: "";
			height: 33px;
			left: -50px;
			margin: auto;
			position: absolute;
			top: 0;
			width: 33px;
		}
	}
	
	&.success{
		background-color: #00CC7E;
		span{
			&::before{			
				background-image: url('../img/ico-alert-success.png');
			}
		}
	}
	&.error{
		background-color: #EF6F6C;
		span{
			&::before{
				background-image: url("../img/ico-alert-error.png");			
			}
		}
	}
	&.warning{
		background-color: #FF9933;
		color: black;
		span{
			&::before{
				background-image: url('../img/ico-alert-warning.png');
				width: 35px;
			}
		}
	}
}