/* line 10, ../sass/components/_variables.scss */
.Bg-gray {
  background-color: #F9F9F9;
}

/* line 13, ../sass/components/_variables.scss */
.marging-bottom-20 {
  margin-bottom: 20px;
}

/* line 3, ../sass/components/_global.scss */
.header-rastreoList .open-search,
.header-rastreoList .open-observ,
.header-rastreoContainers .open-search,
.header-rastreoContainers .open-observ {
  text-align: right;
}
/* line 6, ../sass/components/_global.scss */
.header-rastreoList .open-search span,
.header-rastreoList .open-observ span,
.header-rastreoContainers .open-search span,
.header-rastreoContainers .open-observ span {
  background-repeat: no-repeat;
  background-position: center right;
  color: #006bb1;
  cursor: pointer;
  display: inline-block;
  padding: 2px 42px 2px 0;
}
/* line 16, ../sass/components/_global.scss */
.header-rastreoList .open-search span,
.header-rastreoContainers .open-search span {
  background-image: url("../img/v-c-ico-search.png");
}
/* line 21, ../sass/components/_global.scss */
.header-rastreoList .open-observ span,
.header-rastreoContainers .open-observ span {
  background-image: url("../img/v-c-observaciones.png");
}

/* mensajes de error */
/* line 28, ../sass/components/_global.scss */
.message {
  align-items: center;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  line-height: 1;
  margin-bottom: 20px;
  padding: 26px;
  text-align: center;
}
/* line 38, ../sass/components/_global.scss */
.message span {
  display: inline-block;
  position: absolute;
}
/* line 41, ../sass/components/_global.scss */
.message span::before {
  background-repeat: no-repeat;
  background-position: 0 0;
  bottom: 0;
  content: "";
  height: 33px;
  left: -50px;
  margin: auto;
  position: absolute;
  top: 0;
  width: 33px;
}
/* line 55, ../sass/components/_global.scss */
.message.success {
  background-color: #00cc7e;
}
/* line 58, ../sass/components/_global.scss */
.message.success span::before {
  background-image: url("../img/ico-alert-success.png");
}
/* line 63, ../sass/components/_global.scss */
.message.error {
  background-color: #ef6f6c;
}
/* line 66, ../sass/components/_global.scss */
.message.error span::before {
  background-image: url("../img/ico-alert-error.png");
}
/* line 71, ../sass/components/_global.scss */
.message.warning {
  background-color: #ff9933;
  color: black;
}
/* line 75, ../sass/components/_global.scss */
.message.warning span::before {
  background-image: url("../img/ico-alert-warning.png");
  width: 35px;
}

/* line 87, ../sass/components/_global.scss */
table tr td a.download, table tr td a.not-download {
  border-bottom: 1px solid #006736;
  display: inline-block;
  height: 30px;
  position: relative;
  width: 30px;
}
/* line 94, ../sass/components/_global.scss */
table tr td a.download::before, table tr td a.download::after, table tr td a.not-download::before, table tr td a.not-download::after {
  content: " ";
  display: block;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
}
/* line 103, ../sass/components/_global.scss */
table tr td a.download::before, table tr td a.not-download::before {
  background-color: #006736;
  height: 20px;
  width: 2px;
}
/* line 108, ../sass/components/_global.scss */
table tr td a.download::after, table tr td a.not-download::after {
  border-color: #006736;
  border-style: solid;
  border-width: 0 2px 2px 0;
  height: 8px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 8px;
  bottom: 8px;
}
/* line 122, ../sass/components/_global.scss */
table tr td a.not-download {
  border-bottom: 1px solid #ccc;
}
/* line 124, ../sass/components/_global.scss */
table tr td a.not-download::before {
  background-color: #ccc;
}
/* line 127, ../sass/components/_global.scss */
table tr td a.not-download::after {
  border-color: #ccc;
}

/* line 136, ../sass/components/_global.scss */
a.back {
  display: inline-block;
  height: 15px;
  position: relative;
  opacity: 0.8;
  width: 30px;
}
/* line 142, ../sass/components/_global.scss */
a.back::before, a.back::after {
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
}
/* line 152, ../sass/components/_global.scss */
a.back::before {
  background-color: #006bb1;
  height: 4px;
  width: 20px;
}
/* line 157, ../sass/components/_global.scss */
a.back::after {
  border-color: #006bb1;
  border-style: solid;
  border-width: 0 3px 3px 0;
  height: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  width: 12px;
}
/* line 169, ../sass/components/_global.scss */
a.back:hover {
  opacity: 1;
}

/* line 177, ../sass/components/_global.scss */
.green a.back::before {
  background-color: #64b338;
}
/* line 180, ../sass/components/_global.scss */
.green a.back::after {
  border-color: #64b338;
}
/* line 188, ../sass/components/_global.scss */
.green .container-fluid .table-responsive table a, .green .container-fluid .table-responsive h3 a {
  color: #64B338 !important;
  text-decoration: underline;
}

/* line 200, ../sass/components/_global.scss */
.blue .container-fluid .table-responsive table a, .blue .container-fluid .table-responsive h3 a {
  color: #006bb1 !important;
  text-decoration: underline;
}

/* line 1, ../sass/components/_tables.scss */
.table-responsive {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 20px 20px 4px;
}
/* line 5, ../sass/components/_tables.scss */
.table-responsive h3 {
  border-bottom: 1px solid #e6e6e6;
  font-family: "montserratsemibold";
  font-size: 14px;
  margin: 0;
  line-height: 1;
  padding-bottom: 16px;
}
/* line 12, ../sass/components/_tables.scss */
.table-responsive h3 span {
  font-family: "montserratlight";
}
/* line 16, ../sass/components/_tables.scss */
.table-responsive table {
  margin: 0;
}
/* line 19, ../sass/components/_tables.scss */
.table-responsive table tr th,
.table-responsive table tr td {
  border-bottom: 1px solid #e6e6e6;
  border-top: none;
  color: #4d4d4d;
  font-family: "montserratmedium";
  font-size: 14px;
  line-height: 1;
  padding: 16px;
}
/* line 28, ../sass/components/_tables.scss */
.table-responsive table tr th:first-child,
.table-responsive table tr td:first-child {
  padding-left: 0;
}
/* line 31, ../sass/components/_tables.scss */
.table-responsive table tr th:last-child,
.table-responsive table tr td:last-child {
  padding-right: 0;
}
/* line 35, ../sass/components/_tables.scss */
.table-responsive table tr td {
  font-family: "montserratlight";
}
/* line 40, ../sass/components/_tables.scss */
.table-responsive .paginated {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
/* line 45, ../sass/components/_tables.scss */
.table-responsive .paginated .pagination {
  border: 1px solid #e6e6e6;
}
/* line 47, ../sass/components/_tables.scss */
.table-responsive .paginated .pagination li {
  border-right: 1px solid #e6e6e6;
}
/* line 49, ../sass/components/_tables.scss */
.table-responsive .paginated .pagination li a,
.table-responsive .paginated .pagination li span {
  color: #4d4d4d;
  display: block;
  font-size: 14px;
  line-height: 1;
  padding: 14px 14px;
}
/* line 57, ../sass/components/_tables.scss */
.table-responsive .paginated .pagination li span {
  background-color: #006bb1;
  color: #fff;
}
/* line 61, ../sass/components/_tables.scss */
.table-responsive .paginated .pagination li:last-child {
  border-right: none;
}
/* line 65, ../sass/components/_tables.scss */
.table-responsive .paginated .pagination li.next a {
  background-color: #006bb1;
  color: #fff;
}

/* line 79, ../sass/components/_tables.scss */
.blue .table-responsive .paginated .pagination li span {
  background-color: #006bb1;
}
/* line 83, ../sass/components/_tables.scss */
.blue .table-responsive .paginated .pagination li.next a {
  background-color: #006bb1;
}

/* line 97, ../sass/components/_tables.scss */
.green .table-responsive .paginated .pagination li span {
  background-color: #64B338;
}
/* line 101, ../sass/components/_tables.scss */
.green .table-responsive .paginated .pagination li.next a {
  background-color: #64B338;
}

/* line 1, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  overflow: hidden;
  padding-bottom: 40px;
}
/* line 6, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid {
  padding: 0;
}
/* line 8, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .description {
  border-bottom: 1px solid #e6e6e6;
}
/* line 10, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .description h4 {
  border-bottom: 1px solid #e6e6e6;
  font-family: 'montserratsemibold';
  font-size: 16px;
  line-height: 1;
  margin: 0;
  padding: 20px;
}
/* line 18, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .description .text {
  padding: 10px 20px;
}
/* line 20, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .description .text p {
  margin: 0;
  line-height: 1.5;
  font-size: 13px;
}
/* line 27, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .form-fields {
  border-bottom: 1px solid #e6e6e6;
  padding: 20px;
}
/* line 31, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .cargadocumento {
  background-color: #f2f2f2;
  margin: 20px;
}
/* line 34, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .cargadocumento .text-left {
  background-color: #e6e6e6;
  padding-bottom: 30px;
  padding-top: 30px;
}
/* line 41, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .cargadocumento .text-left label {
  display: block;
  font-family: 'montserratbold';
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
}
/* line 49, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .cargadocumento .text-right {
  display: flex;
  align-items: center;
}
/* line 52, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .cargadocumento .text-right .form-fields-load {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* line 56, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .cargadocumento .text-right .form-fields-load label {
  align-items: center;
  display: flex;
  margin: 0;
}
/* line 61, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .cargadocumento .text-right .form-fields-load .upload-file {
  background-color: #006bb1;
  border-color: #006bb1;
}
/* line 64, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .cargadocumento .text-right .form-fields-load .upload-file:hover {
  background-color: #006bb1 !important;
  opacity: 0.9;
}
/* line 72, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .btn-right {
  text-align: right;
}
/* line 74, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .btn-right button {
  margin-right: 36px;
  background-color: #006bb1;
  border-color: #006bb1;
}
/* line 78, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .btn-right button:hover {
  background-color: #006bb1 !important;
  opacity: 0.9;
}

/* line 2, ../sass/components/_paginaRastreoList.scss */
#rastreoList .form-filter {
  border: 1px solid #E6E6E6;
  padding: 20px 0;
}
/* line 5, ../sass/components/_paginaRastreoList.scss */
#rastreoList .form-filter .form-field {
  text-align: center;
}
/* line 7, ../sass/components/_paginaRastreoList.scss */
#rastreoList .form-filter .form-field label {
  color: #4d4d4d;
  display: block;
  font-family: 'montserratsemibold';
  margin: 20px 0 0 0;
  position: relative;
}
/* line 13, ../sass/components/_paginaRastreoList.scss */
#rastreoList .form-filter .form-field label span {
  background-image: url(../img/v-ico-radio-button.png);
  background-repeat: no-repeat;
  cursor: pointer;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -45px;
  width: 24px;
  height: 24px;
}
/* line 25, ../sass/components/_paginaRastreoList.scss */
#rastreoList .form-filter .form-field label i {
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 4px;
}
/* line 29, ../sass/components/_paginaRastreoList.scss */
#rastreoList .form-filter .form-field label i.transito {
  background-image: url(../img/v-ico-transito.png);
  height: 29px;
  width: 49px;
}
/* line 34, ../sass/components/_paginaRastreoList.scss */
#rastreoList .form-filter .form-field label i.proceso {
  background-image: url(../img/v-ico-proceso.png);
  height: 28px;
  width: 28px;
}
/* line 39, ../sass/components/_paginaRastreoList.scss */
#rastreoList .form-filter .form-field label i.proceso-finalizado {
  background-image: url(../img/v-ico-proceso-finalizado.png);
  height: 33px;
  width: 33px;
}
/* line 46, ../sass/components/_paginaRastreoList.scss */
#rastreoList .form-filter .form-field input[type="radio"] {
  opacity: 0;
}
/* line 50, ../sass/components/_paginaRastreoList.scss */
#rastreoList .form-filter .form-field input[type="radio"]:checked + label span {
  background-image: url(../img/v-ico-radio-button-checked.png);
}

/* line 1, ../sass/components/_buscador.scss */
#buscador-cargas {
  background-color: white;
  display: none;
  height: calc(100vh - 70px);
  width: 340px;
  position: fixed;
  right: 0;
  top: 70px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
/* line 10, ../sass/components/_buscador.scss */
#buscador-cargas .cerrar-formulario {
  align-items: center;
  color: #006bb1;
  display: flex;
  padding: 26px 20px;
  justify-content: flex-end;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
/* line 20, ../sass/components/_buscador.scss */
#buscador-cargas .cerrar-formulario span {
  font-family: 'montserratbold';
  font-size: 18px;
  margin-left: 10px;
}
/* line 26, ../sass/components/_buscador.scss */
#buscador-cargas form {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  padding: 26px 18px;
}
/* line 31, ../sass/components/_buscador.scss */
#buscador-cargas form .form-filds {
  width: 100%;
}
/* line 33, ../sass/components/_buscador.scss */
#buscador-cargas form .form-filds h5 {
  font-family: 'montserratregular';
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 14px;
}
/* line 39, ../sass/components/_buscador.scss */
#buscador-cargas form .form-filds .form-field {
  margin-bottom: 14px;
}
/* line 41, ../sass/components/_buscador.scss */
#buscador-cargas form .form-filds .form-field label {
  display: block;
  font-family: 'montserratlight';
  margin: 0;
  position: relative;
  padding-left: 36px;
}
/* line 47, ../sass/components/_buscador.scss */
#buscador-cargas form .form-filds .form-field label span {
  background-image: url(../img/v-ico-radio-button.png);
  background-repeat: no-repeat;
  cursor: pointer;
  left: 0;
  margin: auto;
  position: absolute;
  width: 24px;
  height: 24px;
}
/* line 58, ../sass/components/_buscador.scss */
#buscador-cargas form .form-filds .form-field input[type="radio"] {
  display: none;
}
/* line 62, ../sass/components/_buscador.scss */
#buscador-cargas form .form-filds .form-field input[type="radio"]:checked + label span {
  background-image: url(../img/v-ico-radio-button-checked.png);
}
/* line 68, ../sass/components/_buscador.scss */
#buscador-cargas form .form-action {
  width: 100%;
}
/* line 70, ../sass/components/_buscador.scss */
#buscador-cargas form .form-action input {
  background-color: #006bb1;
  border: none;
  color: white;
  font-family: 'montserratregular';
  font-size: 16px;
  height: 46px;
  width: 100%;
}
/* line 81, ../sass/components/_buscador.scss */
#buscador-cargas.active {
  display: block;
}

/* line 1, ../sass/components/_containerDetalle.scss */
#observaciones {
  display: none;
}
/* line 5, ../sass/components/_containerDetalle.scss */
#observaciones .form-fields .form-field textarea {
  border: none;
}
/* line 10, ../sass/components/_containerDetalle.scss */
#observaciones .form-action {
  border-color: #E6E6E6;
  border-style: solid;
  border-width: 1px 0;
  text-align: right;
  padding: 16px 0;
}
/* line 16, ../sass/components/_containerDetalle.scss */
#observaciones .form-action .submitform {
  background-color: #006bb1;
  color: white;
  border: navajowhite;
  font-family: 'montserratbold';
  padding: 5px 20px;
  border-radius: 2px;
}
/* line 25, ../sass/components/_containerDetalle.scss */
#observaciones.active {
  display: block;
}

/* line 34, ../sass/components/_containerDetalle.scss */
#rastreoContainers .table-responsive table tr:last-child td {
  border-bottom: none;
}
/* line 40, ../sass/components/_containerDetalle.scss */
#rastreoContainers .table-responsive:first-child {
  background-color: #F9F9F9;
}

/* line 6, ../sass/components/_despachoMercancia.scss */
#despachoMercancia .table-responsive table tr:last-child td {
  border-bottom: none;
}
/* line 12, ../sass/components/_despachoMercancia.scss */
#despachoMercancia .table-responsive:first-child {
  background-color: #F9F9F9;
}

/* line 6, ../sass/components/_fechaLimiteDevolucionContenedor.scss */
#fechaLimiteDevolucionContenedor .table-responsive table tr:last-child td {
  border-bottom: none;
}

/* line 2, ../sass/components/_existenciaMercancia.scss */
#existenciaMercancia .table-responsive {
  padding: 0;
}
/* line 4, ../sass/components/_existenciaMercancia.scss */
#existenciaMercancia .table-responsive .thead {
  background-color: #F9F9F9;
  border-bottom: 1px solid #E6E6E6;
  display: flex;
  padding: 20px;
}
/* line 9, ../sass/components/_existenciaMercancia.scss */
#existenciaMercancia .table-responsive .thead .v-c-row {
  line-height: 1;
  width: 20%;
}
/* line 12, ../sass/components/_existenciaMercancia.scss */
#existenciaMercancia .table-responsive .thead .v-c-row label, #existenciaMercancia .table-responsive .thead .v-c-row span {
  display: inline-block;
  font-family: 'montserratsemibold';
  font-size: 16px;
  line-height: 1;
  margin: 0 16px 0 0;
}
/* line 19, ../sass/components/_existenciaMercancia.scss */
#existenciaMercancia .table-responsive .thead .v-c-row span {
  font-family: 'montserratlight';
  margin: 0;
}
/* line 26, ../sass/components/_existenciaMercancia.scss */
#existenciaMercancia .table-responsive .tbody .v-c-rows {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 20px 0;
}
/* line 30, ../sass/components/_existenciaMercancia.scss */
#existenciaMercancia .table-responsive .tbody .v-c-rows .v-c-row {
  display: flex;
  flex-flow: wrap row;
  margin-bottom: 40px;
  width: 20%;
}
/* line 35, ../sass/components/_existenciaMercancia.scss */
#existenciaMercancia .table-responsive .tbody .v-c-rows .v-c-row label, #existenciaMercancia .table-responsive .tbody .v-c-rows .v-c-row span {
  display: block;
  font-family: 'montserratmedium';
  font-size: 14px;
  line-height: 1;
  margin: 0 0 20px 0;
  width: 100%;
}
/* line 43, ../sass/components/_existenciaMercancia.scss */
#existenciaMercancia .table-responsive .tbody .v-c-rows .v-c-row span {
  font-family: 'montserratlight';
  margin: 0;
}

/* CSS Agricola */
/* line 2, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns {
  display: flex;
}
/* line 4, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column {
  width: 100%;
}
/* line 6, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left {
  margin-right: 40px;
  max-width: 345px;
}
/* line 9, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left .average, #agricola-cupoCredito .columns .column.column-left .credit {
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  box-shadow: 0 6px 10px #f2f2f2;
  margin-bottom: 15px;
}
/* line 15, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left .average {
  padding: 20px 0;
}
/* line 17, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left .average h3 {
  font-family: 'montserratsemibold';
  font-size: 14px;
  margin: 0;
  line-height: 1;
  text-align: center;
}
/* line 24, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left .average .circliful_section {
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 50px;
}
/* line 28, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left .average .circliful_section svg circle {
  stroke: #129E58;
}
/* line 30, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left .average .circliful_section svg circle:first-child {
  stroke: #F0F7F3;
}
/* line 33, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left .average .circliful_section svg circle:nth-child(3) {
  fill: #0B7540;
  stroke: #006736;
  stroke-width: 18;
}
/* line 39, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left .average .circliful_section svg text {
  font-size: 18px !important;
}
/* line 44, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left .average .text-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0;
}
/* line 48, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left .average .text-footer .color-green {
  color: #006736;
  font-family: 'montserratsemibold';
}
/* line 54, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left .credit {
  background-repeat: no-repeat;
  background-position: 94% 20px;
  padding: 20px 80px 20px 20px;
}
/* line 58, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left .credit span {
  display: block;
  margin-bottom: 14px;
  line-height: 1;
}
/* line 62, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left .credit span.porcen {
  margin-bottom: 0;
}
/* line 66, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left .credit p {
  font-size: 36px;
  margin: 0 0 14px;
  line-height: 1;
}
/* line 71, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left .credit.approved {
  background-image: url(../img/ico-credit-approved.png);
}
/* line 74, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left .credit.used {
  background-image: url(../img/ico-credit-used.png);
}
/* line 77, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left .credit.available {
  background-image: url(../img/ico-credit-available.png);
}
/* line 80, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left .credit:hover {
  background-color: #006736;
  color: white;
}
/* line 83, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left .credit:hover.approved {
  background-image: url(../img/ico-credit-approved-hover.png);
}
/* line 86, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left .credit:hover.used {
  background-image: url(../img/ico-credit-used-hover.png);
}
/* line 89, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-left .credit:hover.available {
  background-image: url(../img/ico-credit-available-hover.png);
}
/* line 96, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-right .table-responsive {
  box-shadow: 0 6px 10px #f2f2f2;
  margin: 0;
}
/* line 99, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-right .table-responsive .header {
  align-items: center;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
/* line 105, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-right .table-responsive .header h3 {
  border: none;
  padding: 0;
}
/* line 109, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-right .table-responsive .header .config {
  background-image: url("../img/ico-config.png");
  background-repeat: no-repeat;
  width: 22px;
  height: 20px;
  margin-right: 26px;
  cursor: pointer;
}
/* line 121, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-right .table-responsive table tr td.vencida {
  background-image: url("../img/ico-vencida.png");
  background-repeat: no-repeat;
  color: #FF564A;
  background-position: 90px center;
}
/* line 127, ../sass/components/agricola/_cupoCredito.scss */
#agricola-cupoCredito .columns .column.column-right .table-responsive table tr td:last-child {
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

/* line 6, ../sass/components/agricola/_rastreoPedido.scss */
#agricola-rastreoPedido .table-responsive table tr:last-child td {
  border-bottom: none;
}
/* line 12, ../sass/components/agricola/_rastreoPedido.scss */
#agricola-rastreoPedido .table-responsive:first-child {
  background-color: #F9F9F9;
  margin-top: 0;
}
/* line 20, ../sass/components/agricola/_rastreoPedido.scss */
#agricola-rastreoPedido .table-responsive:nth-child(2) table tbody tr td {
  border: none;
  position: relative;
}
/* line 23, ../sass/components/agricola/_rastreoPedido.scss */
#agricola-rastreoPedido .table-responsive:nth-child(2) table tbody tr td:first-child {
  padding-left: 20px;
}
/* line 25, ../sass/components/agricola/_rastreoPedido.scss */
#agricola-rastreoPedido .table-responsive:nth-child(2) table tbody tr td:first-child::before {
  background-color: white;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  border: 1px solid #006736;
  width: 13px;
  height: 13px;
  margin: auto;
  border-radius: 50%;
}
/* line 38, ../sass/components/agricola/_rastreoPedido.scss */
#agricola-rastreoPedido .table-responsive:nth-child(2) table tbody tr td:first-child::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 26px;
  border-right: 1px solid rgba(223, 223, 223, 0.5);
  width: 1px;
  height: 100%;
}
/* line 52, ../sass/components/agricola/_rastreoPedido.scss */
#agricola-rastreoPedido .table-responsive:nth-child(2) table tbody tr:last-child td:first-child::after {
  content: "";
  display: none;
}

/* line 2, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .header {
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  box-shadow: 0 6px 10px #f2f2f2;
  margin-bottom: 22px;
  padding: 20px;
}
@media (min-width: 768px) {
  /* line 2, ../sass/components/agricola/_solicitarPedido.scss */
  #agricola-solicitarPedido .header {
    padding: 40px 22px;
  }
}
@media (min-width: 768px) {
  /* line 11, ../sass/components/agricola/_solicitarPedido.scss */
  #agricola-solicitarPedido .header .v-row {
    display: flex;
  }
}
/* line 15, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .header .v-row .col {
  padding: 0;
  margin-bottom: 10px;
  max-width: 320px;
}
@media (min-width: 768px) {
  /* line 15, ../sass/components/agricola/_solicitarPedido.scss */
  #agricola-solicitarPedido .header .v-row .col {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
/* line 23, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .header .v-row .col label {
  display: block;
  font-family: 'montserratmedium';
}
/* line 27, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .header .v-row .col input, #agricola-solicitarPedido .header .v-row .col select {
  background-color: white;
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding: 0px 10px;
}
/* line 34, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .header .v-row .col input[disabled="disabled"], #agricola-solicitarPedido .header .v-row .col select[disabled="disabled"] {
  background-color: #F4F4F4;
}
/* line 41, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body {
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  box-shadow: 0 6px 10px #f2f2f2;
  margin-bottom: 22px;
  padding: 30px 22px;
}
/* line 47, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .v-row {
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 20px;
  padding-top: 20px;
}
@media (min-width: 768px) {
  /* line 47, ../sass/components/agricola/_solicitarPedido.scss */
  #agricola-solicitarPedido .body .v-row {
    display: flex;
    justify-content: space-between;
  }
}
/* line 55, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .v-row .col {
  padding: 0;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 55, ../sass/components/agricola/_solicitarPedido.scss */
  #agricola-solicitarPedido .body .v-row .col {
    display: flex;
  }
}
/* line 62, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .v-row .col .form-field label {
  display: block;
  font-family: 'montserratmedium';
}
@media (min-width: 768px) {
  /* line 62, ../sass/components/agricola/_solicitarPedido.scss */
  #agricola-solicitarPedido .body .v-row .col .form-field label {
    display: none;
  }
}
/* line 69, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .v-row .col .form-field div.presentation {
  margin-top: 10px;
  text-align: center;
}
/* line 74, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .v-row .col .remove {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #64B338;
  cursor: pointer;
}
/* line 80, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .v-row .col .remove:hover {
  text-decoration: underline;
}
/* line 83, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .v-row .col .remove.disable {
  color: #ccc;
  cursor: default;
}
/* line 86, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .v-row .col .remove.disable:hover {
  text-decoration: none;
}
/* line 91, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .v-row .col.left {
  max-width: 1000px;
}
/* line 93, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .v-row .col.left .form-field {
  margin-bottom: 10px;
  margin-right: 26px;
  max-width: 100px;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 93, ../sass/components/agricola/_solicitarPedido.scss */
  #agricola-solicitarPedido .body .v-row .col.left .form-field {
    margin-bottom: 0;
  }
}
/* line 101, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .v-row .col.left .form-field input, #agricola-solicitarPedido .body .v-row .col.left .form-field select {
  background-color: white;
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  height: 40px;
  padding: 0px 10px;
  width: 100%;
}
/* line 109, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .v-row .col.left .form-field input[type="number"] {
  text-align: center;
}
/* line 112, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .v-row .col.left .form-field:first-child {
  max-width: 300px;
}
/* line 117, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .v-row .col.right {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
@media (min-width: 768px) {
  /* line 117, ../sass/components/agricola/_solicitarPedido.scss */
  #agricola-solicitarPedido .body .v-row .col.right {
    justify-content: flex-end;
    margin-top: 0;
    max-width: 300px;
  }
}
@media (min-width: 768px) {
  /* line 126, ../sass/components/agricola/_solicitarPedido.scss */
  #agricola-solicitarPedido .body .v-row .col.right .form-field {
    margin-right: 50px;
    min-width: 102px;
    text-align: right;
  }
}
/* line 132, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .v-row .col.right .form-field label {
  margin-bottom: 12px;
}
/* line 135, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .v-row .col.right .form-field:last-child {
  margin-right: 0;
}
/* line 141, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .v-row:first-child {
  padding-top: 0;
}
/* line 145, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .v-row:first-child .col .form-field label {
  display: block;
}
/* line 149, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .v-row:first-child .col .remove {
  margin-top: 22px;
}
/* line 154, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .v-row:last-child {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  /* line 158, ../sass/components/agricola/_solicitarPedido.scss */
  #agricola-solicitarPedido .body .row-footer {
    display: flex;
    justify-content: space-between;
  }
}
/* line 163, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .row-footer .add {
  color: #64B338;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
  padding-left: 40px;
}
@media (min-width: 768px) {
  /* line 163, ../sass/components/agricola/_solicitarPedido.scss */
  #agricola-solicitarPedido .body .row-footer .add {
    margin-bottom: 0;
  }
}
/* line 172, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .row-footer .add span {
  border: 1px solid #64B338;
  height: 25px;
  left: 0;
  position: absolute;
  width: 25px;
  border-radius: 4px;
}
/* line 179, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .row-footer .add span::before {
  background-color: #64B338;
  bottom: 0;
  content: "";
  height: 15px;
  left: 0;
  margin: auto;
  right: 0;
  position: absolute;
  top: 0;
  width: 1px;
}
/* line 191, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .row-footer .add span::after {
  background-color: #64B338;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  margin: auto;
  right: 0;
  position: absolute;
  top: 0;
  width: 15px;
}
/* line 206, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .row-footer .totals .subtotal,
#agricola-solicitarPedido .body .row-footer .totals .total {
  display: flex;
  justify-content: space-between;
}
/* line 211, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .row-footer .totals label {
  font-family: 'montserratsemibold';
  margin-right: 50px;
  text-align: right;
}
/* line 216, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .body .row-footer .totals .subtotal {
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 8px;
}
/* line 223, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .calltoaction {
  text-align: right;
}
/* line 225, ../sass/components/agricola/_solicitarPedido.scss */
#agricola-solicitarPedido .calltoaction input {
  background-color: #64B338;
  border: 1px solid #64B338;
  color: white;
  height: 46px;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 225, ../sass/components/agricola/_solicitarPedido.scss */
  #agricola-solicitarPedido .calltoaction input {
    width: 250px;
  }
}

/* CSS Comercializadora */
/* line 7, ../sass/components/comercializadora/_nominaciones.scss */
#comercializadora-nominaciones .table-responsive table tr td a,
#comercializadora-detalleNominacion .table-responsive table tr td a {
  color: #008D3E;
  text-decoration: underline;
}
/* line 10, ../sass/components/comercializadora/_nominaciones.scss */
#comercializadora-nominaciones .table-responsive table tr td a:hover,
#comercializadora-detalleNominacion .table-responsive table tr td a:hover {
  text-decoration: none;
}

/* line 20, ../sass/components/comercializadora/_nominaciones.scss */
#comercializadora-detalleNominacion .table-responsive {
  padding: 20px 20px 4px;
}
/* line 24, ../sass/components/comercializadora/_nominaciones.scss */
#comercializadora-detalleNominacion .table-responsive table tr td, #comercializadora-detalleNominacion .table-responsive table tr th {
  border: none;
  padding: 6px;
}
/* line 28, ../sass/components/comercializadora/_nominaciones.scss */
#comercializadora-detalleNominacion .table-responsive table tr td {
  padding-bottom: 20px;
}

/* line 2, ../sass/components/comercializadora/_procesoLogistico.scss */
#comercializadora-procesoLogistico .table-responsive {
  padding: 0;
  position: relative;
}
/* line 5, ../sass/components/comercializadora/_procesoLogistico.scss */
#comercializadora-procesoLogistico .table-responsive .dropdown {
  border-color: black;
  border-style: solid;
  border-width: 2px 2px 0 0;
  cursor: pointer;
  display: block;
  height: 16px;
  position: absolute;
  right: 30px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 25px;
  width: 16px;
}
/* line 22, ../sass/components/comercializadora/_procesoLogistico.scss */
#comercializadora-procesoLogistico .table-responsive .header {
  background-color: #F9F9F9;
  padding: 20px;
}
/* line 25, ../sass/components/comercializadora/_procesoLogistico.scss */
#comercializadora-procesoLogistico .table-responsive .header h3 {
  border: none;
  padding: 0;
}
/* line 28, ../sass/components/comercializadora/_procesoLogistico.scss */
#comercializadora-procesoLogistico .table-responsive .header h3 a {
  color: #006736;
  font-family: 'montserratlight';
  text-decoration: underline;
}
/* line 32, ../sass/components/comercializadora/_procesoLogistico.scss */
#comercializadora-procesoLogistico .table-responsive .header h3 a:hover {
  text-decoration: none;
}
/* line 37, ../sass/components/comercializadora/_procesoLogistico.scss */
#comercializadora-procesoLogistico .table-responsive .header.border-top {
  border-top: 1px solid #E6E6E6;
}
/* line 43, ../sass/components/comercializadora/_procesoLogistico.scss */
#comercializadora-procesoLogistico .table-responsive table tr th, #comercializadora-procesoLogistico .table-responsive table tr td {
  border: 1px solid #E6E6E6;
  padding: 16px;
}
/* line 46, ../sass/components/comercializadora/_procesoLogistico.scss */
#comercializadora-procesoLogistico .table-responsive table tr th:first-child, #comercializadora-procesoLogistico .table-responsive table tr td:first-child {
  border-left: none;
}
/* line 49, ../sass/components/comercializadora/_procesoLogistico.scss */
#comercializadora-procesoLogistico .table-responsive table tr th:last-child, #comercializadora-procesoLogistico .table-responsive table tr td:last-child {
  border-right: none;
}
/* line 54, ../sass/components/comercializadora/_procesoLogistico.scss */
#comercializadora-procesoLogistico .table-responsive table tr:last-child td {
  border-bottom: none;
}
/* line 61, ../sass/components/comercializadora/_procesoLogistico.scss */
#comercializadora-procesoLogistico .table-responsive.closed .dropdown {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 15px;
}
/* line 69, ../sass/components/comercializadora/_procesoLogistico.scss */
#comercializadora-procesoLogistico .table-responsive.closed .header, #comercializadora-procesoLogistico .table-responsive.closed .table {
  display: none;
}
/* line 72, ../sass/components/comercializadora/_procesoLogistico.scss */
#comercializadora-procesoLogistico .table-responsive.closed .first {
  display: block;
}

/* line 80, ../sass/components/comercializadora/_procesoLogistico.scss */
.header-procesoLogistico h4 label, .header-procesoLogistico h4 span {
  color: #4d4d4d;
  font-size: 14px;
  margin-bottom: 0;
  margin-right: 5px;
}
/* line 86, ../sass/components/comercializadora/_procesoLogistico.scss */
.header-procesoLogistico h4 span {
  font-family: 'montserratlight';
  margin-right: 0;
}

/* line 2, ../sass/components/comercializadora/_estadoContenedores.scss */
.header-estadosContenedores .list {
  display: flex;
}
/* line 4, ../sass/components/comercializadora/_estadoContenedores.scss */
.header-estadosContenedores .list ul {
  margin: 0 0 0 20px;
  padding: 0;
}
/* line 7, ../sass/components/comercializadora/_estadoContenedores.scss */
.header-estadosContenedores .list ul li {
  border-bottom: 2px solid transparent;
  display: inline-block;
  list-style: none;
  margin: 0 20px 0 0;
  padding: 0 10px 2px;
}
/* line 16, ../sass/components/comercializadora/_estadoContenedores.scss */
.header-estadosContenedores .list ul li.active {
  border-bottom-color: #006736;
}
/* line 18, ../sass/components/comercializadora/_estadoContenedores.scss */
.header-estadosContenedores .list ul li.active a {
  font-family: 'montserratbold';
}
