#agricola-cupoCredito{
	.columns{
		display: flex;
		.column{
			width: 100%;
			&.column-left{
				margin-right: 40px;
				max-width: 345px;
				.average,.credit{
					border: 1px solid #E6E6E6;
					border-radius: 5px;
					box-shadow: 0 6px 10px #f2f2f2;
					margin-bottom: 15px;
				}
				.average{
					padding: 20px 0;
					h3{
						font-family: 'montserratsemibold';
						font-size: 14px;
						margin: 0;
						line-height: 1;
						text-align: center;
					}
					.circliful_section{
						border-bottom: 1px solid #E6E6E6;
						padding-bottom: 50px;
						svg{
							circle{
								stroke:#129E58;
								&:first-child{
									stroke:#F0F7F3;
								}
								&:nth-child(3){
									fill: #0B7540;
									stroke: #006736;
									stroke-width: 18;
								}								
							}
							text{
								font-size: 18px !important;
							}
						}
					}
					.text-footer{
						display: flex;
						justify-content: space-between;
						padding: 20px 20px 0;
						.color-green{
							color: #006736;
							font-family: 'montserratsemibold';
						}
					}
				}
				.credit{
					background-repeat: no-repeat;
					background-position: 94% 20px;
					padding: 20px 80px 20px 20px;
					span{
						display: block;
						margin-bottom: 14px;
						line-height: 1;
						&.porcen{
							margin-bottom: 0;
						}
					}
					p{
						font-size: 36px;
						margin: 0 0 14px;
						line-height: 1;
					}
					&.approved{
						background-image: url(../img/ico-credit-approved.png);
					}
					&.used{
						background-image: url(../img/ico-credit-used.png);
					}
					&.available{
						background-image: url(../img/ico-credit-available.png);
					}
					&:hover{
						background-color: #006736;
						color: white;
						&.approved{
							background-image: url(../img/ico-credit-approved-hover.png);
						}
						&.used{
							background-image: url(../img/ico-credit-used-hover.png);
						}
						&.available{
							background-image: url(../img/ico-credit-available-hover.png);
						}
					}
				}
			}
			&.column-right{
				.table-responsive{
					box-shadow: 0 6px 10px #f2f2f2;
					margin: 0;
					.header{
						align-items: center;
						border-bottom: 1px solid #E6E6E6;
						padding-bottom: 16px;
						display: flex;
						justify-content: space-between;
						h3{
							border: none;
							padding: 0;
						}
						.config {
							background-image: url("../img/ico-config.png");
							background-repeat: no-repeat;
							width: 22px;
							height: 20px;
							margin-right: 26px;
							cursor: pointer;
						}
					}
					table{
						tr{
							td{
								&.vencida{
									background-image: url("../img/ico-vencida.png");
									background-repeat: no-repeat;
									color: #FF564A;
									background-position: 90px center;
								}
								&:last-child{
									padding: 0;
									text-align: center;
									vertical-align: middle;
								}
							}
						}
					}
				}
			}
		}
	}
}