#buscador-cargas{
	background-color: white;
	display: none;
	height: calc(100vh - 70px);
	width: 340px;
	position: fixed;
	right: 0;
	top: 70px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	.cerrar-formulario{
		align-items: center;
		color: #006bb1;
		display: flex;
		padding: 26px 20px;
		justify-content: flex-end;
		font-size: 16px;
		line-height: 1;
		cursor: pointer;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
		span{
			font-family: 'montserratbold';
			font-size: 18px;
			margin-left: 10px;
		}
	}
	form{
		display: flex;
		flex-flow: row wrap;
		height: 100%;
		padding: 26px 18px;
		.form-filds{
			width: 100%;
			h5{
				font-family: 'montserratregular';
				font-size: 14px;
				font-weight: normal;
				margin-bottom: 14px;
			}
			.form-field{
				margin-bottom: 14px;
				label{
					display: block;
					font-family: 'montserratlight';
					margin: 0;
					position: relative;
					padding-left: 36px;
					span{
						background-image: url(../img/v-ico-radio-button.png);
						background-repeat: no-repeat;
						cursor: pointer;
						left: 0;
						margin: auto;
						position: absolute;
						width: 24px;
						height: 24px;
					}
				}
				input[type="radio"]{
					display: none;
				}
				input[type="radio"]:checked + label{
					span{
						background-image: url(../img/v-ico-radio-button-checked.png);
					}
				}
			}
		}
		.form-action{
			width: 100%;
			input{
				background-color: $blue;
				border: none;
				color: white;
				font-family: 'montserratregular';
				font-size: 16px;
				height: 46px;
				width: 100%;
			}
		}
	}
	&.active{
		display: block;
	}
}


