.header-rastreoList,
.header-rastreoContainers {
  .open-search,
  .open-observ {
    text-align: right;
    span {
      background-repeat: no-repeat;
      background-position: center right;
      color: $blue;
      cursor: pointer;
      display: inline-block;
      padding: 2px 42px 2px 0;
    }
  }
  .open-search {
    span {
      background-image: url("../img/v-c-ico-search.png");
    }
  }
  .open-observ {
    span {
      background-image: url("../img/v-c-observaciones.png");
    }
  }
}

/* mensajes de error */
.message {
  align-items: center;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  line-height: 1;
  margin-bottom: 20px;
  padding: 26px;
  text-align: center;
  span {
    display: inline-block;
    position: absolute;
    &::before {
      background-repeat: no-repeat;
      background-position: 0 0;
      bottom: 0;
      content: "";
      height: 33px;
      left: -50px;
      margin: auto;
      position: absolute;
      top: 0;
      width: 33px;
    }
  }

  &.success {
    background-color: #00cc7e;
    span {
      &::before {
        background-image: url("../img/ico-alert-success.png");
      }
    }
  }
  &.error {
    background-color: #ef6f6c;
    span {
      &::before {
        background-image: url("../img/ico-alert-error.png");
      }
    }
  }
  &.warning {
    background-color: #ff9933;
    color: black;
    span {
      &::before {
        background-image: url("../img/ico-alert-warning.png");
        width: 35px;
      }
    }
  }
}

table {
  tr {
    td {
      a {
        &.download,
        &.not-download {
          border-bottom: 1px solid #64b338;
          display: inline-block;
          height: 30px;
          position: relative;
          width: 30px;
          &::before,
          &::after {
            content: " ";
            display: block;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
          }
          &::before {
            background-color: #64b338;
            height: 20px;
            width: 2px;
          }
          &::after {
            border-color: #64b338;
            border-style: solid;
            border-width: 0 2px 2px 0;
            height: 8px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            width: 8px;
            bottom: 8px;
          }
        }
        &.not-download {
          border-bottom: 1px solid #ccc;
          &::before {
            background-color: #ccc;
          }
          &::after {
            border-color: #ccc;
          }
        }
      }
    }
  }
}
a {
  &.back {
    display: inline-block;
    height: 15px;
    position: relative;
    opacity: 0.8;
    width: 30px;
    &::before,
    &::after {
      bottom: 0;
      content: " ";
      display: block;
      left: 0;
      margin: auto;
      position: absolute;
      top: 0;
    }
    &::before {
      background-color: #006bb1;
      height: 4px;
      width: 20px;
    }
    &::after {
      border-color: #006bb1;
      border-style: solid;
      border-width: 0 3px 3px 0;
      height: 12px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
      width: 12px;
    }
    &:hover {
      opacity: 1;
    }
  }
}
.green {
  a {
    &.back {
      &::before {
        background-color: #64b338;
      }
      &::after {
        border-color: #64b338;
      }
    }
  }
  .container-fluid {
    .table-responsive {
      table,h3 {
        a {
		  color: $green !important;
		  text-decoration: underline;
        }
      }
    }
  }
}
.blue {
  .container-fluid {
    .table-responsive {	  
	  table,h3 {
        a {
			color: $blue !important;
			text-decoration: underline;
        }
      }
    }
  }
}
