body {
    background-image:url("../img/login_fonts/1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
html {
    height: 100%
}

input {
	border: none !important;
    color: #fff !important;
    background-color: #fff0 !important;
}

.card-header{
	background-color: #266242ba;
	filter:alpha(opacity=50); 
}

.card-new {
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
	/*background-color: none;*/
	background-color: #00000085;
}

.btn-primary {
	background-color: #ed8a27 !important;
	border-color: #ed8a27 !important;
}

.card-header:first-child {
    border-radius: calc(.01rem - 1px) calc(.01rem - 1px) 0 0 !important;
}

.navbar-laravel {
    background-color: #fff0;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.04);
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}