/* line 3, ../sass/components/_global.scss */
.header-rastreoList .open-search,
.header-rastreoList .open-observ,
.header-rastreoContainers .open-search,
.header-rastreoContainers .open-observ {
  text-align: right;
}
/* line 6, ../sass/components/_global.scss */
.header-rastreoList .open-search span,
.header-rastreoList .open-observ span,
.header-rastreoContainers .open-search span,
.header-rastreoContainers .open-observ span {
  background-repeat: no-repeat;
  background-position: center right;
  color: #006bb1;
  cursor: pointer;
  display: inline-block;
  padding: 2px 42px 2px 0;
}
/* line 16, ../sass/components/_global.scss */
.header-rastreoList .open-search span,
.header-rastreoContainers .open-search span {
  background-image: url("../img/v-c-ico-search.png");
}
/* line 21, ../sass/components/_global.scss */
.header-rastreoList .open-observ span,
.header-rastreoContainers .open-observ span {
  background-image: url("../img/v-c-observaciones.png");
}

/* line 1, ../sass/components/_tables.scss */
.table-responsive {
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 20px 20px 4px;
}
/* line 5, ../sass/components/_tables.scss */
.table-responsive h3 {
  border-bottom: 1px solid #E6E6E6;
  font-family: 'montserratsemibold';
  font-size: 14px;
  margin: 0;
  line-height: 1;
  padding-bottom: 16px;
}
/* line 12, ../sass/components/_tables.scss */
.table-responsive h3 span {
  font-family: 'montserratlight';
}
/* line 16, ../sass/components/_tables.scss */
.table-responsive table {
  margin: 0;
}
/* line 19, ../sass/components/_tables.scss */
.table-responsive table tr th, .table-responsive table tr td {
  border-bottom: 1px solid #E6E6E6;
  border-top: none;
  color: #4d4d4d;
  font-family: 'montserratmedium';
  font-size: 14px;
  line-height: 1;
  padding: 16px;
}
/* line 27, ../sass/components/_tables.scss */
.table-responsive table tr th:first-child, .table-responsive table tr td:first-child {
  padding-left: 0;
}
/* line 30, ../sass/components/_tables.scss */
.table-responsive table tr th:last-child, .table-responsive table tr td:last-child {
  padding-right: 0;
}
/* line 34, ../sass/components/_tables.scss */
.table-responsive table tr td {
  font-family: 'montserratlight';
}
/* line 39, ../sass/components/_tables.scss */
.table-responsive .paginated {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
/* line 44, ../sass/components/_tables.scss */
.table-responsive .paginated .pagination {
  border: 1px solid #E6E6E6;
}
/* line 46, ../sass/components/_tables.scss */
.table-responsive .paginated .pagination li {
  border-right: 1px solid #E6E6E6;
}
/* line 48, ../sass/components/_tables.scss */
.table-responsive .paginated .pagination li a, .table-responsive .paginated .pagination li span {
  color: #4d4d4d;
  display: block;
  font-size: 14px;
  line-height: 1;
  padding: 14px 14px;
}
/* line 55, ../sass/components/_tables.scss */
.table-responsive .paginated .pagination li span {
  background-color: #006bb1;
  color: #fff;
}
/* line 59, ../sass/components/_tables.scss */
.table-responsive .paginated .pagination li:last-child {
  border-right: none;
}
/* line 63, ../sass/components/_tables.scss */
.table-responsive .paginated .pagination li.next a {
  background-color: #006bb1;
  color: #fff;
}

/* line 1, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  overflow: hidden;
  padding-bottom: 40px;
}
/* line 6, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid {
  padding: 0;
}
/* line 8, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .description {
  border-bottom: 1px solid #e6e6e6;
}
/* line 10, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .description h4 {
  border-bottom: 1px solid #e6e6e6;
  font-family: 'montserratsemibold';
  font-size: 16px;
  line-height: 1;
  margin: 0;
  padding: 20px;
}
/* line 18, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .description .text {
  padding: 10px 20px;
}
/* line 20, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .description .text p {
  margin: 0;
  line-height: 1.5;
  font-size: 13px;
}
/* line 27, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .form-fields {
  border-bottom: 1px solid #e6e6e6;
  padding: 20px;
}
/* line 31, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .cargadocumento {
  background-color: #f2f2f2;
  margin: 20px;
}
/* line 34, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .cargadocumento .text-left {
  background-color: #e6e6e6;
  padding-bottom: 30px;
  padding-top: 30px;
}
/* line 41, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .cargadocumento .text-left label {
  display: block;
  font-family: 'montserratbold';
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
}
/* line 49, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .cargadocumento .text-right {
  display: flex;
  align-items: center;
}
/* line 52, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .cargadocumento .text-right .form-fields-load {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* line 56, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .cargadocumento .text-right .form-fields-load label {
  align-items: center;
  display: flex;
  margin: 0;
}
/* line 61, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .cargadocumento .text-right .form-fields-load .upload-file {
  background-color: #006bb1;
  border-color: #006bb1;
}
/* line 64, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .cargadocumento .text-right .form-fields-load .upload-file:hover {
  background-color: #006bb1 !important;
  opacity: 0.9;
}
/* line 72, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .btn-right {
  text-align: right;
}
/* line 74, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .btn-right button {
  margin-right: 36px;
  background-color: #006bb1;
  border-color: #006bb1;
}
/* line 78, ../sass/components/_paginaCargarDocumento.scss */
#cargarDocumentos .container-fluid .btn-right button:hover {
  background-color: #006bb1 !important;
  opacity: 0.9;
}

/* line 2, ../sass/components/_paginaRastreoList.scss */
#rastreoList .form-filter {
  border: 1px solid #E6E6E6;
  padding: 20px 0;
}
/* line 5, ../sass/components/_paginaRastreoList.scss */
#rastreoList .form-filter .form-field {
  text-align: center;
}
/* line 7, ../sass/components/_paginaRastreoList.scss */
#rastreoList .form-filter .form-field label {
  color: #4d4d4d;
  display: block;
  font-family: 'montserratsemibold';
  margin: 20px 0 0 0;
  position: relative;
}
/* line 13, ../sass/components/_paginaRastreoList.scss */
#rastreoList .form-filter .form-field label span {
  background-image: url(../img/v-ico-radio-button.png);
  background-repeat: no-repeat;
  cursor: pointer;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -45px;
  width: 24px;
  height: 24px;
}
/* line 25, ../sass/components/_paginaRastreoList.scss */
#rastreoList .form-filter .form-field label i {
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 4px;
}
/* line 29, ../sass/components/_paginaRastreoList.scss */
#rastreoList .form-filter .form-field label i.transito {
  background-image: url(../img/v-ico-transito.png);
  height: 29px;
  width: 49px;
}
/* line 34, ../sass/components/_paginaRastreoList.scss */
#rastreoList .form-filter .form-field label i.proceso {
  background-image: url(../img/v-ico-proceso.png);
  height: 28px;
  width: 28px;
}
/* line 39, ../sass/components/_paginaRastreoList.scss */
#rastreoList .form-filter .form-field label i.proceso-finalizado {
  background-image: url(../img/v-ico-proceso-finalizado.png);
  height: 33px;
  width: 33px;
}
/* line 46, ../sass/components/_paginaRastreoList.scss */
#rastreoList .form-filter .form-field input[type="radio"] {
  opacity: 0;
}
/* line 50, ../sass/components/_paginaRastreoList.scss */
#rastreoList .form-filter .form-field input[type="radio"]:checked + label span {
  background-image: url(../img/v-ico-radio-button-checked.png);
}

/* line 1, ../sass/components/_buscador.scss */
#buscador-cargas {
  background-color: white;
  display: none;
  height: calc(100vh - 70px);
  width: 340px;
  position: fixed;
  right: 0;
  top: 70px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
/* line 10, ../sass/components/_buscador.scss */
#buscador-cargas .cerrar-formulario {
  align-items: center;
  color: #006bb1;
  display: flex;
  padding: 26px 20px;
  justify-content: flex-end;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
/* line 20, ../sass/components/_buscador.scss */
#buscador-cargas .cerrar-formulario span {
  font-family: 'montserratbold';
  font-size: 18px;
  margin-left: 10px;
}
/* line 26, ../sass/components/_buscador.scss */
#buscador-cargas form {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  padding: 26px 18px;
}
/* line 31, ../sass/components/_buscador.scss */
#buscador-cargas form .form-filds {
  width: 100%;
}
/* line 33, ../sass/components/_buscador.scss */
#buscador-cargas form .form-filds h5 {
  font-family: 'montserratregular';
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 14px;
}
/* line 39, ../sass/components/_buscador.scss */
#buscador-cargas form .form-filds .form-field {
  margin-bottom: 14px;
}
/* line 41, ../sass/components/_buscador.scss */
#buscador-cargas form .form-filds .form-field label {
  display: block;
  font-family: 'montserratlight';
  margin: 0;
  position: relative;
  padding-left: 36px;
}
/* line 47, ../sass/components/_buscador.scss */
#buscador-cargas form .form-filds .form-field label span {
  background-image: url(../img/v-ico-radio-button.png);
  background-repeat: no-repeat;
  cursor: pointer;
  left: 0;
  margin: auto;
  position: absolute;
  width: 24px;
  height: 24px;
}
/* line 58, ../sass/components/_buscador.scss */
#buscador-cargas form .form-filds .form-field input[type="radio"] {
  display: none;
}
/* line 62, ../sass/components/_buscador.scss */
#buscador-cargas form .form-filds .form-field input[type="radio"]:checked + label span {
  background-image: url(../img/v-ico-radio-button-checked.png);
}
/* line 68, ../sass/components/_buscador.scss */
#buscador-cargas form .form-action {
  width: 100%;
}
/* line 70, ../sass/components/_buscador.scss */
#buscador-cargas form .form-action input {
  background-color: #006bb1;
  border: none;
  color: white;
  font-family: 'montserratregular';
  font-size: 16px;
  height: 46px;
  width: 100%;
}
/* line 81, ../sass/components/_buscador.scss */
#buscador-cargas.active {
  display: block;
}

/* line 1, ../sass/components/_containerDetalle.scss */
#observaciones {
  display: none;
}
/* line 5, ../sass/components/_containerDetalle.scss */
#observaciones .form-fields .form-field textarea {
  border: none;
}
/* line 10, ../sass/components/_containerDetalle.scss */
#observaciones .form-action {
  border-color: #E6E6E6;
  border-style: solid;
  border-width: 1px 0;
  text-align: right;
  padding: 16px 0;
}
/* line 16, ../sass/components/_containerDetalle.scss */
#observaciones .form-action .submitform {
  background-color: #006bb1;
  color: white;
  border: navajowhite;
  font-family: 'montserratbold';
  padding: 5px 20px;
  border-radius: 2px;
}
/* line 25, ../sass/components/_containerDetalle.scss */
#observaciones.active {
  display: block;
}

/* line 34, ../sass/components/_containerDetalle.scss */
#rastreoContainers .table-responsive table tr:last-child td {
  border-bottom: none;
}
/* line 40, ../sass/components/_containerDetalle.scss */
#rastreoContainers .table-responsive:first-child {
  background-color: #F9F9F9;
}

/* line 6, ../sass/components/_despachoMercancia.scss */
#despachoMercancia .table-responsive table tr:last-child td {
  border-bottom: none;
}
/* line 12, ../sass/components/_despachoMercancia.scss */
#despachoMercancia .table-responsive:first-child {
  background-color: #F9F9F9;
}

/* line 6, ../sass/components/_fechaLimiteDevolucionContenedor.scss */
#fechaLimiteDevolucionContenedor .table-responsive table tr:last-child td {
  border-bottom: none;
}

/* line 2, ../sass/components/_existenciaMercancia.scss */
#existenciaMercancia .table-responsive {
  padding: 0;
}
/* line 4, ../sass/components/_existenciaMercancia.scss */
#existenciaMercancia .table-responsive .thead {
  background-color: #F9F9F9;
  border-bottom: 1px solid #E6E6E6;
  display: flex;
  padding: 20px;
}
/* line 9, ../sass/components/_existenciaMercancia.scss */
#existenciaMercancia .table-responsive .thead .v-c-row {
  line-height: 1;
  width: 20%;
}
/* line 12, ../sass/components/_existenciaMercancia.scss */
#existenciaMercancia .table-responsive .thead .v-c-row label, #existenciaMercancia .table-responsive .thead .v-c-row span {
  display: inline-block;
  font-family: 'montserratsemibold';
  font-size: 16px;
  line-height: 1;
  margin: 0 16px 0 0;
}
/* line 19, ../sass/components/_existenciaMercancia.scss */
#existenciaMercancia .table-responsive .thead .v-c-row span {
  font-family: 'montserratlight';
  margin: 0;
}
/* line 26, ../sass/components/_existenciaMercancia.scss */
#existenciaMercancia .table-responsive .tbody .v-c-rows {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 20px 0;
}
/* line 30, ../sass/components/_existenciaMercancia.scss */
#existenciaMercancia .table-responsive .tbody .v-c-rows .v-c-row {
  display: flex;
  flex-flow: wrap row;
  margin-bottom: 40px;
  width: 20%;
}
/* line 35, ../sass/components/_existenciaMercancia.scss */
#existenciaMercancia .table-responsive .tbody .v-c-rows .v-c-row label, #existenciaMercancia .table-responsive .tbody .v-c-rows .v-c-row span {
  display: block;
  font-family: 'montserratmedium';
  font-size: 14px;
  line-height: 1;
  margin: 0 0 20px 0;
  width: 100%;
}
/* line 43, ../sass/components/_existenciaMercancia.scss */
#existenciaMercancia .table-responsive .tbody .v-c-rows .v-c-row span {
  font-family: 'montserratlight';
  margin: 0;
}
