.header-estadosContenedores{
	.list{
		display: flex;
		ul{
			margin: 0 0 0 20px;
			padding: 0;
			li{
				border-bottom: 2px solid transparent;
				display: inline-block;
				list-style: none;
				margin: 0 20px 0 0;
				padding: 0 10px 2px;
				a{

				}
				&.active{
					border-bottom-color:#006736; 
					a{
						font-family: 'montserratbold';
					}
				}
			}
		}
	}
}