.header-rastreoList,
.header-rastreoContainers{
	.open-search,
	.open-observ {
		text-align: right;
		span{
			background-repeat: no-repeat;
			background-position: center right;
			color: $blue;
			cursor: pointer;
			display: inline-block;
			padding: 2px 42px 2px 0;
		}
	}	
	.open-search{
		span{
			background-image: url("../img/v-c-ico-search.png");			
		}
	}
	.open-observ {
		span{
			background-image: url("../img/v-c-observaciones.png");	
		}
	}
}