#rastreoList{
	.form-filter{
		border: 1px solid #E6E6E6;
		padding: 20px 0;
		.form-field{
			text-align: center;
			label{
				color: #4d4d4d;
				display: block;
				font-family: 'montserratsemibold';
				margin: 20px 0 0 0;
				position: relative;
				span{
					background-image: url(../img/v-ico-radio-button.png);
					background-repeat: no-repeat;
					cursor: pointer;
					left: 0;
					margin: auto;
					position: absolute;
					right: 0;
					top: -45px;
					width: 24px;
					height: 24px;
				}
				i{
					background-repeat: no-repeat;
					display: inline-block;
					margin-right: 4px;
					&.transito{
						background-image: url(../img/v-ico-transito.png);
						height: 29px;
						width: 49px;
					}
					&.proceso{
						background-image: url(../img/v-ico-proceso.png);
						height: 28px;
						width: 28px;
					}
					&.proceso-finalizado{
						background-image: url(../img/v-ico-proceso-finalizado.png);
						height: 33px;
						width: 33px;
					}
				}
			}
			input[type="radio"]{
				opacity:0;
			}
			input[type="radio"]:checked + label{
				span{
					background-image: url(../img/v-ico-radio-button-checked.png);
				}
			}
		}
	}
}