.wrapper-dropdown-pick-color {
    position: relative;
    width: 100%;
    background: #FFF;
    color: #2e2e2e;
    outline: none;
    cursor: pointer;
}
.wrapper-dropdown-pick-color > span {
	width: 100%;
	display: block;
	border: 1px solid #ababab;
	padding: 5px;
}
.wrapper-dropdown-pick-color > span > span {
  padding: 0 12px;
  margin-right: 5px;
}
.wrapper-dropdown-pick-color > span:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: calc(50% + 4px);
    margin-top: -6px;
	border-width: 6px 6px 0 6px;
    border-style: solid;
	border-color: #2e2e2e transparent;
}
.wrapper-dropdown-pick-color .dropdown-data-pick {
    position: absolute;
	z-index: 10;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    font-weight: normal;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	border: 1px solid #ababab;
	border-top: 0;
}
.wrapper-dropdown-pick-color .dropdown-data-pick li {
    display: block;
    text-decoration: none;
    color: #2e2e2e;
	padding: 5px;
	cursor: pointer;
}
.wrapper-dropdown-pick-color .dropdown-data-pick li > span {
  padding: 0 12px;
  margin-right: 5px;
}
.wrapper-dropdown-pick-color .dropdown-data-pick li:hover {
    background: #eee;
    cursor: pointer;
}