 /* Absolute Center Spinner */
  .loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
  }

  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }

  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  }

  /* Animation */

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  /* The container-checkbox */
  .container-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* Hide the browser's default checkbox */
  .container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  /* Create a custom checkbox */
  .checkmark {
    box-sizing: initial;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid black;
    border-radius: 5px;
  }
  /* On mouse-over, add a grey background color */
  .container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  /* When the checkbox is checked, add a blue background */
  .container-checkbox input:checked ~ .checkmark {
    /*background-color: #2196F3;*/
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Show the checkmark when checked */
  .container-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  /* Style the checkmark/indicator */
  .container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 8px;
    height: 13px;
    border: solid #6eb135;
    border-width: 0px 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .icon-move{
    display: inline-block;
    vertical-align: middle;
  }
  .document-item {
    margin-bottom: 7px;
  }
  .conf-sem{
    display: inline-block;
    font-size: 1.28rem;
    padding-right: 20px;
  }
  .add-sem{
    color: #006BB1;
    font-size: 15px;
  }
  .add-sem span{
    border-bottom: 1px solid;
  }
  .yellow{
    background-color: yellow !important;
  }
  .green{
    background-color: green !important;
  }
  .red{
    background-color: red !important;
  }
  /*.nav-head-drag{
    display: block;
    padding: 12px;
    text-align: right;
  }*/
  .nav-head-drag{
    text-align: right;
  }
  .nav-head-drag img{
    margin: 0 4px;
  }
  .nav-head-drag img:hover, .imgs-data-conf img:hover, .col-sem-res img:hover{
    cursor: pointer;
  }
  .col-inf{
    display: inline-block;
    /*margin: 0px 10px;*/
    vertical-align: top;
  }
  .col-sem-res{
    background-color: lightgray;
    margin: 1% 3%;
    padding: 14px;
  }
  .center-tit-sem{
    display: block;
    line-height: 2;
    margin: 5%;
    text-align: center;
  }
  .color-sem-request span{
    display: block;
    height: 20px;
    margin: 0 auto;
    width: 20px;
  }
  .table th{
    border: 1px solid gray !important;
    padding: 15px 7px;
    /*padding: 3px !important;*/
    font-size: 14px;
    vertical-align: middle !important;
  }
  .table th, .table td {
    vertical-align: middle;
    text-align: left;
    white-space:nowrap;
  }
  .table td{
    border: 1px solid lightgray;
    font-size: 12px;
    line-height: 3;
    padding: 0px 5px !important;   
  }  
  .scaffolding div{
    display: block;    
    width: 100%;
  }
  .data-td{
    /*height: 50px;*/
  }
  .img-traffic{
    background-color: white;
    border-radius: 5px;
  }

        .page-content-wrapper .table .scaffolding{
            background: transparent !important;
        }
        .page-content-wrapper .table .scaffolding th{
            position: relative;
            border: 0px !important;
            border-bottom: 1px solid #ccc !important;
            border-top: 1px solid #fff !important;            
            line-height: 40px;
            text-align: center;
            overflow: hidden;
            padding: 10px;
            background: -webkit-linear-gradient(top, #eee 0%, #e0e0e0);
            background: -moz-linear-gradient(top, #eee 0%, #e0e0e0);
            background: -ms-linear-gradient(top, #eee 0%, #e0e0e0);
            background: -o-linear-gradient(top, #eee 0%, #e0e0e0);
            background: linear-gradient(top, #eee 0%, #e0e0e0);
            background: #e7e7e7;
            background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e0e0e0));
            font: 13px/ 1.2em "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
            font-weight: bold;
            color: #444;

        }        
        .page-content-wrapper .table .scaffolding th #object1, .page-content-wrapper .table .scaffolding th #object2{
                border-left: 1px solid #ccc !important;
                border-right: 1px solid #fff !important;
                position: absolute;
                height: 50%;
                top: 11px;
                width: auto;
                left: 0px;
        }
        .page-content-wrapper .table .scaffolding .img-icon-sem{            
            width: 38% !important;
            height: 100%;
            padding: 12px 7px;
            background: #FFF;
            position: relative !important;
            left: -15px;
            text-align: center;
            display: inline;

        }
        .page-content-wrapper .table .scaffolding .img-icon-sem .img-traffic{
            width: 16px;
            height: 16px;
            background: transparent;
            border:none;
        }
        .page-content-wrapper .table .scaffolding .txt-icon-sem{
            display: inline-block;
            width: 60% !important;
        }
        .page-content-wrapper .table td{
            padding: 0px 15px !important;
        }
        .height_conf_line{
          border: 1px solid #ccc;
          height: 380px;
        }
        .field-edit1, .field-edit2{
          display: none !important;
        }
        .sem-icon-edit{
          margin: 7px;
        }
        .pad-targets-sem{
          padding: 7px 0 !important;
        }
        .pad-targets-sem strong {
          padding: 0px 15px;
        }
        .txt-icon-sem{
          text-align: center;
        }
        .popper {
          /*display: initial !important;*/
          /*width: initial !important;*/
          position: relative !important;
          transform: initial !important;
        }
        .bord-tit-line{
          border-bottom: 1px solid;
          border-top: 1px solid;
          padding: 1px;
        }

  @media (max-width: 1230px) {
    .height_conf_line{
      height: initial;
    }
  }      

  @media (max-width: 680px) {
    .wrapper{
      padding: initial !important;
    }
  }