#comercializadora-nominaciones,
#comercializadora-detalleNominacion{
	.table-responsive{
		table{
			tr{
				td{
					a{
						color: #008D3E;
						text-decoration: underline;
						&:hover{
							text-decoration:none;
						}
					}
				}
			}
		}
	}
}
#comercializadora-detalleNominacion{
	.table-responsive{
		padding: 20px 20px 4px;
		table{
			tr{
				td,th{
					border: none;
					padding: 6px;
				}
				td{
					padding-bottom: 20px;
				}
			}
		}
	}
}